.header_text {
  margin-top: 20px;
  text-align: center;
}
#id_input {
height: 2.5em;
        font-size: 30px;
}
#output-2,#output-3 {
width: 100%;
height: 140px;
}
#output-2 {
background: #FFE0FF;
}
#output-3 {
background: #E3EDF3;
}
