.header_text {
  margin-top: 20px;
  text-align: center;
}
#input {
  height: 2.5em;
  font-size: 30px;
}
#two,#three {
  width: 100%;
  height: 140px;
}
#two {
  background: #FFE0FF;
}
#three {
  background: #E3EDF3;
}
